__pycache__/
*.py[cod]
*$py.class
.DS_Store
data/raw/
data/processed/
# outputs/  # allow generated outputs to be committed
outputs/models/*.pkl
# reports/  # allow generated reports to be committed
.env
.venv
env/
venv/
